<section class="">
  <div class="container d-flex justify-content-center">
    <div class="row w-75 mt-5">
      <div class="col-md-12">
        <h2 class="text-center">Add Category</h2>
        <%if (locals.categoryStatus==true){%>
        <p id="message" style="color: red">Category already exist</p>
        <%} %>
        <form action="/admin/add_category" method="POST">
          <label for="">Category Name</label>
          <input
            type="text"
            name="categoryname"
            id="name"
            class="form-control"
            onkeyup="validateName()"
            required
          />
          <span id="name-error" class="validation-label"></span>
          <br />
          <button type="submit" class="btn btn-success mt-4">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>
<!-- Table section -->
<% if(viewCategory.length==0){%>
<div class="d-flex justify-content-center">
  <img src="/assets/imgs/banners/empty-cart-1546860808" alt="" />
</div>
<%} else{%>
<section w-50 mx-auto>
  <div class="card-body">
    <div class="row mt-5 mx-auto">
      <div class="table-responsive">
        <div class="table-responsive">
          <table class="table align-middle table-nowrap mb-0">
            <thead class="table-light">
              <tr>
                <th class="align-middle" scope="col">No:</th>

                <th class="align-middle" scope="col">Category Name</th>
                <th class="align-middle" scope="col">Option</th>
              </tr>
            </thead>
            <tbody>
              <% viewCategory.forEach(function(viewCategory,index) { %>
              <tr>
                <td><%= index+1 %></td>

                <td><%= viewCategory.categoryName %></td>

                <td>
                  <a
                    href="/admin/edit_category/<%= viewCategory._id %>"
                    class="btn btn-xs"
                    style="background-color: cyan"
                    >Edit</a
                  >

                  <a
                    href="/admin/delete_category/<%= viewCategory._id %>"
                    class="btn btn-xs btn-success"
                    onclick="return confirm('Are you want to delete <%= viewCategory.categoryName %>?')"
                    style="background-color: red"
                    >Delete</a
                  >
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
      <!-- table-responsive end// -->
    </div>
  </div>
</section>
<%}%>
<script>
  setTimeout(function () {
    document.getElementById('message').style.display = 'none';
  }, 3000);
</script>
<script>
  let nameError = document.getElementById('name-error');
  // let discritionError = document.getElementById("discription-error");

  const regex = /^[^ ].*/;
  function validateName() {
    console.log('lllll');
    var name = document.getElementById('name').value;
    var nameInput = document.getElementById('name');
    console.log(name);
    if (name.length == 0) {
      nameError.innerHTML = 'Name is required';
      nameError.style.color = 'red';
      nameInput.style.border = 'solid 2px red';
      return false;
    }
    if (!name.match(regex)) {
      nameError.innerHTML = 'Write valid name';
      nameError.style.color = 'red';
      nameInput.style.border = 'solid 2px red';

      return false;
    }
    nameError.innerHTML = '';
    // nameError.innerHTML = "Valid Name";
    nameError.style.color = 'green';
    nameInput.style.border = 'solid 2px green';

    return true;
  }
</script>
