<h1 style="text-align: center; margin: 2rem">Address details</h1>
<% response.forEach(function(response) { %>
<div class="col-md-6 container">
  <div class="order_review">
    <div>
      <div class="payment_option">
        <div
          class="list-group-item"
          style="border-radius: 1rem; padding: 1.5rem; margin-bottom: 2rem"
        >
          <div class="list-group-item-heading">
            <div class="row radio">
              <div class="col-xs-3">
                <label>
                  <input
                    type="radio"
                    name="address"
                    id="address1"
                    value="<%=response.item._id%>"
                    style="height: 1.2rem; width: 1.2rem"
                    checked
                  />
                  <%=response.item.fname%>:<%=response.item.lname%>
                </label>
              </div>
              <div class="col-xs-5">
                <dl class="dl-small">
                  <dt><%=response.item.street%></dt>
                  <dd><%=response.item.apartment%></dd>
                  <dd><%=response.item.city%></dd>
                  <dd><%=response.item.state%></dd>
                  <dd><%=response.item.pincode%></dd>
                  <dd><%=response.item.mobile%></dd>
                  <dd><%=response.item.email%></dd>
                </dl>
                <!-- <button class="btn btn-sm">Edit</button>
                        <button class="btn btn-sm btn-link">
                          Delete this address
                        </button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <button
        class="btn"
        onclick="deleteAddress('<%=response._id%>','<%=response.item._id%>')"
      >
        Delete
      </button>
    </div>
  </div>
</div>
<br />
<% }) %>

<script>
  function deleteAddress(deleteId, addressId) {
    Swal.fire({
      title: 'Are you sure?',
      text: "You won't be able to revert this!",
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#3085d6',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Yes, delete it!',
    }).then((result) => {
      if (result.isConfirmed) {
        $.ajax({
          url: '/delete_address',
          data: {
            deleteId: deleteId,

            addressId: addressId,
          },
          method: 'DELETE',

          success: (response) => {
            if (response.deleteAddress) {
              Swal.fire('Deleted!', 'Your address has been deleted.');
              location.reload();
            }
          },
        });
      }
    });
  }
</script>
